# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:

# Conteo si columna legendary = True y otro si Legendary = False
legendary = pokemon[pokemon['Legendary']==True]['Legendary'].count()
non_legendary = pokemon[pokemon['Legendary']==False]['Legendary'].count()

In [7]:
print('Legendary:',legendary,'\nNon legendary:',non_legendary)

Legendary: 65
Non legendary: 735

In [9]:
legendary_pokemon = pokemon.loc[pokemon['Legendary']==True]
non_legendary_pokemon = pokemon.loc[pokemon['Legendary']==False]

In [11]:
# numero de pokemones legendarios.
legendary_pokemon['Legendary'].count()

65

In [12]:
# número de pokemones no legendarios.
non_legendary_pokemon['Legendary'].count()

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [21]:
# Your code here:

legendary_mean = legendary_pokemon.Total.mean()
legendary_sd = legendary_pokemon.Total.std()

non_legendary_mean = non_legendary_pokemon.Total.mean()
non_legendary_sd = non_legendary_pokemon.Total.std()

print('Legendary')
print(f'mean: {legendary_mean}. standar_deviation: {legendary_sd}')

print('Non Legendary')
print(f'mean: {non_legendary_mean}. standar_deviation: {non_legendary_sd}')

Legendary
mean: 637.3846153846154. standar_deviation: 60.93738905315344
Non Legendary
mean: 417.21360544217686. standar_deviation: 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [24]:
from scipy.stats import ttest_ind

In [28]:
# Your code here:

ttest_ind(legendary_pokemon.Total, non_legendary_pokemon.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

In [55]:
type(legendary_pokemon)

pandas.core.frame.DataFrame

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [31]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [44]:
# Definición de dataframes:

water_type = pokemon[pokemon['Type 1']=='Water']

all_other_type = pokemon[pokemon['Type 1']!='Water']

In [63]:
# Calculo de media y desviación estandar

water_mean = water_type['Total'].mean()
water_std = all_other_type['Total'].std()

all_other_mean = all_other_type['Total'].mean()
all_other_std = all_other_type['Total'].std()

print(f'water type\n mean = {water_mean}\n standard deviation = {water_std}')
print(f'all other type\n mean = {water_mean}\n standard deviation = {all_other_std}')

water type
 mean = 430.45535714285717
 standard deviation = 121.0916823020807
all other type
 mean = 430.45535714285717
 standard deviation = 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [68]:
#statistic, pvalue = ttest_ind(water_type['Total'], all_other_type['Total'], equal_var=True)

In [69]:
ttest_ind(water_type['Total'], all_other_type['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

## Your conclusions here:

 <font color='blue'>
Pvalue fue 0.65 por lo que es > 0.05


Por lo tanto, no se rechaza H0, pues se puede decir que las medias son iguales.
  </font>

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

#### Our null hypothesis is that the defense and attack scores are equal in each Pokemon.

#### Our alternative hypothesis is that the defense and attack scores are different in each Pokemon.

In [25]:
from scipy.stats import ttest_rel

In [70]:
ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [71]:
# Your conclusions here:

# pvalue < alpha (0.05) => Rechazamos hipótesis nula, pues existe una diferencia 
# estadística entre el ataque y la defena de cada Pokemon.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [72]:
ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

### Your conclusions here:

$$0.39 > 0.05  => pvalue > alpha$$

        Null hypothesis is not rejected

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [73]:
from scipy.stats import ttest_1samp

In [76]:
ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'], popmean = 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: