In [24]:
#importar pandas
import pandas as pd
import seaborn as sb
import numpy as np
import re
from datetime import datetime
data_m = pd.read_csv('attacks2_.csv',encoding='latin-1')
d = data_m.copy()

d.head()
len(d)

25723

In [61]:
# primero vemor los tipos de datos que tenemos y los convertimos a typos correctos y con los que podemos trabajar.

d['Year'].fillna('0', inplace = True)
d["Date"] = pd.to_datetime(d["Date"], errors='coerce',infer_datetime_format=True)
d["Year"] = (d["Year"].astype('int'))
#d1["Case Number"] = pd.to_datetime(d1["Case Number"], errors='coerce',infer_datetime_format=True)
d["Case Number"] =(d["Case Number"].astype('object'))
d["Fatal (Y/N)"] = (d["Fatal (Y/N)"].astype('category'))
d["Sex "] = (d["Sex "].astype('category'))
d["Name"] = (d["Name"].astype(str))
d[['Age']] = d[['Age']].fillna(0)
d[["Age"]] = d[["Age"]].apply(pd.to_numeric,errors='coerce',downcast='integer')

d1 = d.copy()
d[['original order']] = d[['original order']].fillna(0)
d[["original order"]] = d[["original order"]].apply(pd.to_numeric,errors='coerce',downcast='integer')
#d1["Time"] = pd.to_datetime(d1["Time"], errors='coerce',infer_datetime_format=True)

d.dtypes

Case Number                       object
Date                      datetime64[ns]
Year                               int32
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                             category
Age                                 int8
Injury                            object
Fatal (Y/N)                     category
Species                           object
Investigator or Source            object
pdf                               object
original order                     int16
dtype: object

In [46]:
null_cols = d.isnull().sum()
null_cols[null_cols > 22774]
d1 = d.copy()
#Se eliminar aquellas columnas que tengan mas de 22744 valores nulos

#existen unicamente 24 casos  de diferencias entre  Case number y Case number.1
select_columns =['Case Number.1','Case Number.2','Case Number']
d1 = d1[ select_columns].drop_duplicates()
d1["Case Number_dif"] = d1["Case Number.1"] ==  d1 ["Case Number"] 
p = d1[d1['Case Number_dif'] == False]
p.count()

KeyError: "['Case Number.2', 'Case Number.1'] not in index"

d.heads()

In [27]:
d1["Case Number_dif1"] = d1["Case Number.2"] ==  d1 ["Case Number"] 
d1
#En este caso solo 7

p = d1[d1['Case Number_dif1'] == False]
p.count()
#p.head()

Case Number.1       4
Case Number.2       4
Case Number         5
Case Number_dif     7
Case Number_dif1    7
dtype: int64

In [28]:
d1["Case Number_dif2"] = d1["Case Number.1"] ==  d1 ["Case Number.2"] 
d1
#En este caso solo 7

p = d1[d1['Case Number_dif2'] == False]
p.count()

Case Number.1       20
Case Number.2       20
Case Number         22
Case Number_dif     23
Case Number_dif1    23
Case Number_dif2    23
dtype: int64

In [43]:
#observamos que entre las 3 columnas tienen lo mismo menos nulos es la columna Case number entonces borraremos
#las otras dos columnas

d.drop(['Case Number.1','Case Number.2','Time'], axis = 1, inplace = True)

In [29]:
d1 = d.copy()
d1  = d[['href formula','href']]
d1["href_dif2"] = d1["href formula"] ==  d1["href"] 
d1
#En este caso solo 7

p = d1[d1['href_dif2'] == True]

p.head()
p.count()
# exiten 6242 valores que son iguales 25723 son las filas  y hfred formula tiene 19422 valores nulos. los que unicamente 59 valores
# por lo que decidi quitarlas (representa una dif de .22% de los datos totales)

<ipython-input-29-5cd0a9425d1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1["href_dif2"] = d1["href formula"] ==  d1["href"]

href formula    6242
href            6242
href_dif2       6242
dtype: int64

In [30]:
d.drop(['href formula','href'], axis = 1, inplace = True)

In [31]:
d.dtypes

Case Number                       object
Date                      datetime64[ns]
Year                               int32
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                             category
Age                              float64
Injury                            object
Fatal (Y/N)                     category
Time                              object
Species                           object
Investigator or Source            object
pdf                               object
Case Number.1                     object
Case Number.2                     object
original order                     int16
Unnamed: 22                       object
Unnamed: 23                       object
dtype: object

In [47]:
dd = d.copy()

In [48]:
#Decidi quitar la columna Year ya que estaba implicita en la de Year
#dd.drop(['Year'], axis = 1, inplace = True)
dd.head()
dd["Case Number"] = pd.to_datetime(dd["Case Number"], errors='coerce',infer_datetime_format=True)
dd.head()
null_colsd = d['Case Number'].isnull().sum()
print(null_colsd[null_colsd > 0])
null_cols = dd['Case Number'].isnull().sum()
print(null_cols[null_cols > 0])      
null_cols = dd['Date'].isnull().sum()
print(null_cols[null_cols > 0])      
# En su typo original de Case letter teni a 17021 valores nulos al cambiar su tipo aumento a [21910] la columna fecha tiene 20958 
#valores nulos. Solo existen 3578 valores que son iguales pero 21910+3578 = 25488 significa que las columnas son iguales 
# unicamente 235 datos no coinciden esto representa 1% de los datos 

select_columns =['Case Number','Date']
dd1 = dd[ select_columns]
dd1["Case Number_dif"] = dd1["Case Number"] ==  dd1 ["Date"] 
p = dd1[dd1['Case Number_dif'] == True]
print(p.count())
print(len(dd))
p.tail()

[17021]
[21910]
[20958]
Case Number        3578
Date               3578
Case Number_dif    3578
dtype: int64
25723

<ipython-input-48-253918d637fd>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd1["Case Number_dif"] = dd1["Case Number"] ==  dd1 ["Date"]

     Case Number       Date  Case Number_dif
6141  1783-03-02 1783-03-02             True
6142  1780-08-08 1780-08-08             True
6151  1751-07-27 1751-07-27             True
6155  1742-12-17 1742-12-17             True
6160  1703-03-26 1703-03-26             True

In [49]:
#se decide mantener unicamente la columna Case number pero en typo object ya que tiene alrededor de 3000 mas datos

In [62]:
dn = d.copy()

In [63]:
dn.drop(['Date'], axis = 1, inplace = True)
dn.drop(['Year'], axis = 1, inplace = True)
#tambièn eliminaresmo la coluna original order ya que solo son numeros descendientes de acuerdo a la fecha
dn.drop(['original order'], axis = 1, inplace = True)

In [64]:
dn = dn.rename(columns={'Case Number':'Date'})

dn.head()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf
0,2018.06.25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf
1,2018.06.18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf
2,2018.06.09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf
3,2018.06.08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf
4,2018.06.04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf

In [65]:
f= dn.copy()
f1 = dr.copy()
# En esta parte quitamos el pdf solo dejamo el nombre y en la source quitamos el com 
f['pdf'] = f['pdf'].replace('[^a-z,A-Z]', '', regex=True)
f['pdf'] = f['pdf'].replace('pdf', '', regex=True)
f['Investigator or Source'] = f['Investigator or Source'].replace('.com', '', regex=True)
f['Injury'] = f['Injury'].replace('[^a-z,^A-Z,^0-9]', ' ', regex=True)
f.head()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf
0,2018.06.25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",Wolfe
1,2018.06.18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks",McNeely
2,2018.06.09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks",Denges
3,2018.06.08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",Arrawarra
4,2018.06.04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,Ramos

In [67]:
#En esta parte eliminamos aquellas filas que tenganas masd e 4 NaN ya que no nos proporciona informaciòn y solo eran 20 registos,
# de diferencia con aquellosx que teenia mayot a 11 nans
#f1[pd.isnull(f1).all(axis=1)]
df = f.copy()
df["Date"] = pd.to_datetime(df["Date"], errors='coerce',infer_datetime_format=True)

null_rows = df.isnull().sum(axis=1)


null_rows[null_rows > 4]
drop_rows = list(null_rows[null_rows > 4].index)

df1= df.drop(drop_rows, axis=0)

In [68]:
df1

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",Wolfe
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks",McNeely
2,2018-06-09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks",Denges
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",Arrawarra
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,Ramos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,NaT,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,0,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",NDRoebuckBay
6298,NaT,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,0,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",NDAhmun
6299,NaT,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,0,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",NDOcracoke
6300,NaT,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,0,FATAL,Y,NaN,"The Sun, 10/20/1938",NDJulesPatterson
6301,NaT,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,NDCeylon

In [69]:
o=df1.copy()
# agregamos la columna Grad Injury
o['Grad Injury'] = np.where(o['Injury'].str.contains('No injury', regex = False),
                          'No injury',np.where(o['Injury'].str.contains('Minor injury', regex = False),
                          'Minor injury',np.where(o['Fatal (Y/N)'].str.contains('Y', regex = False),
                          'Fatal',np.where(o['Injury'].str.contains('Lacerations', regex = False),
                          'Lacerations','Injury'))))
# eiminamos male de nombre
o['Name'] = o['Name'].replace('male', '', regex=True)
o

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,Grad Injury
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",Wolfe,No injury
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks",McNeely,Minor injury
2,2018-06-09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks",Denges,Injury
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",Arrawarra,Minor injury
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,Ramos,Lacerations
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,NaT,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,,M,0,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",NDRoebuckBay,Fatal
6298,NaT,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,0,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",NDAhmun,Fatal
6299,NaT,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,0,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",NDOcracoke,Fatal
6300,NaT,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,0,FATAL,Y,NaN,"The Sun, 10/20/1938",NDJulesPatterson,Fatal
6301,NaT,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,,M,15,"FATAL Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,NDCeylon,Fatal

In [70]:
o["Species "] =(o["Species "].astype('str'))
r = o['Species '].unique().tolist()
r

['White shark',
 'nan',
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 'Shark involvement questionable',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'A small shark',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 'Shark involvement highly doubtful',
 'No shark invovlement - it ws a publicity stunt',
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Invalid',
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Shark involvement prior to death was not confirmed',
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 'Questionable Incident',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',

In [105]:

m = o.copy()


      
sp = o["Species "].apply(lambda x: re.findall('\w+\sshark', x) )

sp
sp1 =[]
for i in sp:
    if not i :
        i = "Unknown"
        sp1.append(i)
    else:
        i = i[0]
        sp1.append(i)
        
sp1   
m["Type of Shark"] = sp1
m

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,Grad Injury,Type of Shark
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",Wolfe,No injury,White shark
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,nan,"K.McMurray, TrackingSharks",McNeely,Minor injury,Unknown
2,2018-06-09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,nan,"K.McMurray, TrackingSharks",Denges,Injury,Unknown
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",Arrawarra,Minor injury,m shark
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,Ramos,Lacerations,Tiger shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,NaT,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,,M,0,FATAL,Y,nan,"H. Taunton; N. Bartlett, p. 234",NDRoebuckBay,Fatal,Unknown
6298,NaT,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,0,FATAL,Y,nan,"H. Taunton; N. Bartlett, pp. 233-234",NDAhmun,Fatal,Unknown
6299,NaT,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,0,FATAL,Y,nan,"F. Schwartz, p.23; C. Creswell, GSAF",NDOcracoke,Fatal,Unknown
6300,NaT,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,0,FATAL,Y,nan,"The Sun, 10/20/1938",NDJulesPatterson,Fatal,Unknown
6301,NaT,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,,M,15,"FATAL Shark bit him in half, carrying away t...",Y,nan,S.W. Baker,NDCeylon,Fatal,Unknown

In [121]:

sp = o["Species "].apply(lambda x: re.findall("\d.+m|\d+m|\d+'+|\d+" , x) )

sp
sp1 =[]
for i in sp:
    if not i :
        i = "Unknown"
        sp1.append(i)
    else:
        i = i[0]
        sp1.append(i)
        
sp1   
m["Size of Shark"] = sp1
m
m["Size of Shark"]=m["Size of Shark"].replace("  "," ")
m["Size of Shark"].unique()
r = m["Size of Shark"].apply(lambda x: re.findall("(\d+.m|\d+.|\d\s.m)" , x) )
sp1 =[]
for i in r:
    if not i :
        i = "Unknown"
        sp1.append(i)
    else:
        i = i[0]
        sp1.append(i)

m["Size of Shark"] = sp1

In [122]:
m["Size of Shark"].unique()

array(['Unknown', '2 m', '3m', "3'", "6'", '2m', '3 m', '3.', '2.', "12'",
       '1.', "5'", '4.', '1 m', "8'", "4'", '3 ', "10'", "2'", "11'",
       "9'", '100', '4 m', "14'", '1m', '3+', "7'", "13'", "19'", '6 m',
       '5 m', '4 ', "18'", "15'", '10', '4m', '5m', '18', '6m', '40cm',
       '7m', '70', '2 ', "1'", '20', '12', '80', '60cm', '5.', '90',
       '80 ', '24', '150', "16'", '8/', '0.', '1,', '60 ', '132', '106 ',
       '15 ', '400', '7 m', '200', '300', '5 ', '11-', '6 ', '30', '170-',
       '40', '2356', '56', '50-', '270', '180', '600', '50', '7.', '76 ',
       '300-', '500', '193', '36', '43', '2,', '18 m', '1164 m', '125',
       '6.', "20'", '58', '136', "17'", '160-', '650', '246', '250', '7 ',
       '15', '48 ', '33', '175', '68', '234', '1600-'], dtype=object)

In [124]:
m.drop(['Species '], axis = 1, inplace = True)
m.head()

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Investigator or Source,pdf,Grad Injury,Type of Shark,Size of Shark
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",Wolfe,No injury,White shark,Unknown
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,"K.McMurray, TrackingSharks",McNeely,Minor injury,Unknown,Unknown
2,2018-06-09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks",Denges,Injury,Unknown,Unknown
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,,M,0,Minor injury to lower leg,N,"B. Myatt, GSAF",Arrawarra,Minor injury,m shark,2 m
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,Lacerations to leg hand shark PROVOKED INCIDENT,N,A .Kipper,Ramos,Lacerations,Tiger shark,3m

In [220]:
m2 = m.copy()

In [142]:
r.loc[100:200]

100                Not injured by shark but board bitten
101                                         Hand injured
102               Minor cuts to sole   toes of left foot
103                                Bite to right leg hip
104        Foot bitten by landed shark PROVOKED INCIDENT
                             ...
196    Lacerations to both hands while attempting to ...
197                               Injuries to foot   arm
198    Laceration to right hand by hooked   gaffed sh...
199                     Injuries to right calf and thigh
200                  Lacerations to right foot and ankle
Name: Injury, Length: 101, dtype: object

In [223]:
m2["Injury"] = (m2["Injury"].astype(str))

In [226]:
m2
sp = m2["Injury"].apply(lambda x: re.findall("(\w{3,10} foot|\w{3,10} thigh|\w{3,10} leg|\w{3,10}   hand|Foot|hands|hand)" , x) )

sp
sp1 =[]
for i in sp:
    if not i :
            i = "Unknown"
            sp1.append(i)
    else:
            i = i[0]
            sp1.append(i)
        
m2["Location of Injury"] = sp1

In [231]:
m2


#m2.drop(['Injury'], axis = 1, inplace = True)
mm = m2.copy()
mm = m2[['Date','Type','Country','Area','Location','Activity','Name','Sex ','Age','Fatal (Y/N)','Grad Injury','Location of Injury','Type of Shark','Size of Shark','Investigator or Source','pdf']]

In [216]:
m2["'Location of Injury"].unique()

array(['Unknown', 'left thigh', 'lower leg', 'leg   hand', 'left leg',
       'hand', 'right leg', 'his leg', 'and leg', 'right thigh',
       'left foot', 'leff foot', 'right foot', 'Foot', 'Right leg',
       'hands', 'Lower leg', 'Left foot', 'posterior thigh', 'the foot',
       'Right thigh', 'Left leg', 'and thigh', 'upper thigh',
       'arm   hand', 'abdomen   hand', 'calf   hand', 'Foot   hand',
       'Right foot', 'mid thigh', 'hip leg', 'upper leg', 'the leg',
       'and foot', 'both leg', 'Minor leg', 'arms   hand', 'his thigh',
       'bumped leg', 'forearm   hand', 'Left thigh', 'Posterior thigh',
       'wrist   hand', 'Human foot', 'other leg', 'back   hand',
       'inner thigh', 'the thigh', 'Both leg', 'foot   hand',
       'Lacerated leg', 'Lacerated foot', 'lower thigh', 'Fingers   hand',
       'Both thigh', 'Leg   hand', 'Cut foot', 'severed leg',
       'Thigh   hand', 'Serious leg', 'thigh   hand', 'Inner thigh',
       'bit leg', 'knee   hand', 'his foot', 'Wrist   hand',
       'grasped thigh', 'whose foot', 'Torso   hand', 'from thigh',
       'major leg', 'her foot', 'broken leg', 'Upper leg', 'tore leg',
       'hip   hand', 'Lacerated thigh', 'from leg', 'lacerated thigh',
       'bit foot', 'human foot', 'grazed leg', 'whose leg', 'both thigh',
       'trouser leg', 'Female foot', 'Righ thigh', 'minus leg', 'One leg',
       'Lost leg'], dtype=object)

In [233]:
mm

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Fatal (Y/N),Grad Injury,Location of Injury,Type of Shark,Size of Shark,Investigator or Source,pdf
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,N,No injury,Unknown,White shark,Unknown,"R. Collier, GSAF",Wolfe
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,N,Minor injury,left thigh,Unknown,Unknown,"K.McMurray, TrackingSharks",McNeely
2,2018-06-09,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,N,Injury,lower leg,Unknown,Unknown,"K.McMurray, TrackingSharks",Denges
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,,M,0,N,Minor injury,lower leg,m shark,2 m,"B. Myatt, GSAF",Arrawarra
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,0,N,Lacerations,leg hand,Tiger shark,3m,A .Kipper,Ramos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,NaT,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,,M,0,Y,Fatal,Unknown,Unknown,Unknown,"H. Taunton; N. Bartlett, p. 234",NDRoebuckBay
6298,NaT,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,0,Y,Fatal,Unknown,Unknown,Unknown,"H. Taunton; N. Bartlett, pp. 233-234",NDAhmun
6299,NaT,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,0,Y,Fatal,Unknown,Unknown,Unknown,"F. Schwartz, p.23; C. Creswell, GSAF",NDOcracoke
6300,NaT,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,0,Y,Fatal,Unknown,Unknown,Unknown,"The Sun, 10/20/1938",NDJulesPatterson
6301,NaT,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,,M,15,Y,Fatal,Unknown,Unknown,Unknown,S.W. Baker,NDCeylon

In [236]:
mm['Type of Shark'].unique()

array(['White shark', 'Unknown', 'm shark', 'Tiger shark', 'Lemon shark',
       'Bull shark', 'reef shark', 'nurse shark', 'bull shark',
       'Wobbegong shark', 'Blacktip shark', 'white shark', 'a shark',
       'Galapagos shark', '2m shark', 'small shark', 'Nurse shark',
       'blue shark', 'Cookiecutter shark', 'Spinner shark',
       'blacktip shark', 'whitetip shark', 'Sandtiger shark',
       'Blue shark', 'No shark', 'gill shark', '3m shark',
       'sevengill shark', 'Angel shark', 'dogfish shark', 'Mako shark',
       'whaler shark', 'Reef shark', 'Silky shark', 'juvenile shark',
       'Hammerhead shark', 'spinner shark', 'but shark', 'foot shark',
       'Raggedtooth shark', 'Goblin shark', 'tiger shark', 'metre shark',
       'Sandbar shark', 'Cow shark', '1m shark', 'Salmon shark',
       'Porbeagle shark', 'Jackson shark', 'sandtiger shark',
       'Sevengill shark', 'Zambesi shark', 'lemon shark', '30kg shark',
       'hammerhead shark', 'Thresher shark', 'whale shark', 'kg shark',
       'cutter shark', 'Dusky shark', 'smoothhound shark',
       'Basking shark', 'as shark', 'Sand shark', 'mako shark',
       'sandbar shark', 'same shark', 'copper shark', '2 shark',
       'brown shark', 'colored shark', 'cow shark', 'sand shark',
       'captive shark', 'bonnethed shark', 'finned shark', 'dusky shark',
       'Soupfin shark', 'young shark', 'Leopard shark', 'Small shark',
       'Unidentified shark', 'grey shark', 'female shark', 'Two shark',
       'lb shark', 'gaffed shark', 'silvertip shark', 'Zambezi shark',
       '50 shark', 'silky shark', 'gray shark', 'thresher shark',
       'Whale shark', 'Carpet shark', 'Copper shark', 'porbeagle shark',
       'Dog shark', '6 shark', 'for shark', 'carpet shark', '8 shark',
       'red shark', 'banjo shark', 'hooked shark', 'larger shark',
       'Several shark', 'carcharinid shark', 'another shark', 'of shark',
       'little shark', '5m shark', 'Bonita shark', 'Whaler shark',
       'leopard shark', 'large shark', 'Shovelnose shark', 'nose shark',
       'nosed shark', '3 shark', 'dog shark', 'cocktail shark', '7 shark',
       'carcharhinid shark', 'whiptail shark', 'the shark', 'saw shark',
       'from shark', 'ground shark', 'Silvertip shark', 'tipped shark'],
      dtype=object)

In [237]:
mm.to_csv('cleaned_data.csv', sep='\t', index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'vehicles/vehicles_tab.csv'