## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [72]:
# Your code here
sample_list_1 = []

import random

sample_list_1 = (random.sample(range(0,101),80))

print (sample_list_1)

[75, 20, 84, 7, 89, 74, 40, 18, 64, 23, 51, 25, 88, 65, 83, 17, 72, 13, 80, 32, 61, 47, 79, 100, 99, 31, 96, 70, 73, 44, 11, 39, 0, 36, 63, 93, 90, 10, 86, 91, 52, 29, 59, 42, 82, 97, 12, 4, 85, 26, 1, 15, 48, 6, 95, 21, 45, 5, 66, 58, 49, 33, 2, 14, 22, 78, 71, 62, 28, 60, 3, 98, 54, 68, 56, 41, 76, 9, 8, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [73]:
# Your code here
set1 = set(sample_list_1)

print(set1)
print (len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 28, 29, 31, 32, 33, 36, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [74]:
# Your code here
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append (random.randint(0,100))
    
print(sample_list_2)

[21, 80, 42, 40, 44, 87, 97, 55, 28, 88, 58, 29, 16, 24, 1, 7, 20, 1, 33, 67, 43, 91, 96, 61, 53, 19, 43, 78, 28, 50, 40, 67, 11, 48, 85, 56, 82, 49, 78, 24, 73, 95, 49, 5, 5, 30, 79, 6, 64, 70, 15, 70, 20, 71, 16, 97, 85, 82, 42, 93, 97, 50, 43, 87, 44, 85, 23, 73, 7, 60, 79, 78, 36, 54, 32, 30, 15, 99, 35, 100]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [75]:
# Your code here
set2 = set(sample_list_2)

len(set2)

#Ya no son 80 elementos, por que al generar los números aleatorios hay algunos que se repiten en sample_list_2

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [76]:
# Your code here
set3 = set1.difference(set2)
print (set3)

{0, 2, 3, 4, 8, 9, 10, 12, 13, 14, 17, 18, 22, 25, 26, 31, 39, 41, 45, 47, 51, 52, 59, 62, 63, 65, 66, 68, 72, 74, 75, 76, 83, 84, 86, 89, 90, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [77]:
# Your code here
set4 = set2.difference(set1)
print (set4)

{35, 67, 43, 16, 50, 19, 53, 87, 24, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [78]:
# Your code here
set5 = set1.intersection(set2)
print (set5)

{1, 5, 6, 7, 11, 15, 20, 21, 23, 28, 29, 32, 33, 36, 40, 42, 44, 48, 49, 54, 55, 56, 58, 60, 61, 64, 70, 71, 73, 78, 79, 80, 82, 85, 88, 91, 93, 95, 96, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [79]:
# Your code here
print (len(set1))
print (len(set2))
print (len(set3))
print (len(set4))
print (len(set5))

print (len(set1) >= len(set2))
print (len(set3) >= len(set1) - len(set2))
print (len(set4) <= len(set3))
print (len(set5) <= 80)
#El primer set es el que tiene más elementos por que son números irrepetibles, por lo que será de 80. El segundo set pueden repetirse los números, por lo que tiene que ser menor a 80. El set3 son los elementos del set1 que no están en el set2 por lo que tendría que ser un número relativamente grande y por lo menos debe ser igual o mayor a la diferencia entre las dimensiones del set1 - set2. El set4 representa los elementos del set2 que no están en el set1, que debe ser menor a 20, por que el set1 tiene 80 elementos que no se repitieron. El set5 son los elementos comunes en set1 y set2 y puede ser hasta 80 como límite máximo.

80
52
38
10
42
True
True
True
True

#### Create an empty set called `set6`.

In [80]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [82]:
# Your code here
set5.update(set3)
set6 = set5

#### Check if `set1` and `set6` are equal.

In [83]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [84]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [85]:
# Your code here
union_3_4 = set3.union(set4)
union_3_4_5 = union_3_4.union(set5)

union_1_2 = set1.union(set2)

union_3_4_5 == union_1_2

True

#### Using the `pop` method, remove the first element from `set1`.

In [86]:
# Your code here
print(set1)
set1.pop()

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 25, 26, 28, 29, 31, 32, 33, 36, 39, 40, 41, 42, 44, 45, 47, 48, 49, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 95, 96, 97, 98, 99, 100}

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [95]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 28, 32, 33, 36, 40, 42, 44, 45, 47, 48, 52, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 88, 90, 93, 95, 96, 97, 98, 100}