## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(0,100),k=80)
print(sample_list_1)

[27, 65, 0, 50, 71, 81, 10, 93, 62, 16, 74, 19, 43, 5, 26, 3, 4, 53, 37, 31, 77, 95, 46, 9, 58, 45, 23, 47, 41, 60, 11, 1, 89, 49, 51, 18, 39, 25, 35, 40, 75, 78, 54, 69, 82, 94, 7, 2, 99, 98, 84, 79, 29, 52, 87, 56, 73, 61, 55, 64, 90, 83, 8, 91, 6, 88, 96, 59, 12, 57, 34, 66, 48, 70, 63, 13, 85, 76, 15, 42]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set1 = set(sample_list_1)

l = len(set1)

if l == 80:
    print("Longitud de: " +str(l))
    print("No se repitio ningun numero al momento de crear la lista aleatoria")
else:
    print("No es igual porque al momento de crear la lista de manera random se repitieron valores, al momento de convertirlo aun conjunto los valores son unicos")

80
No se repitio ningun numero al momento de crear la lista aleatoria

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
c=0
a=0
sample_list_2 = []
for i in range(80):
        if c == 0:
            a = random.randint(0,100)
            sample_list_2.append(a)
        else:
            a = random.randint(0,100)
            sample_list_2.append(a)
            
        c += 1
print(sample_list_2)

[97, 90, 34, 70, 10, 78, 52, 48, 21, 83, 24, 76, 27, 39, 21, 18, 71, 79, 57, 87, 49, 92, 12, 87, 12, 11, 53, 31, 21, 45, 54, 92, 20, 27, 24, 48, 83, 6, 44, 86, 73, 50, 49, 82, 65, 45, 93, 82, 42, 43, 30, 39, 54, 69, 61, 14, 45, 71, 74, 46, 68, 29, 28, 69, 38, 31, 96, 89, 45, 88, 97, 25, 6, 12, 61, 61, 75, 2, 27, 29]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(sample_list_2)

l2 = len(set2)

if l2 == 80:
    print("Longitud de: " +str(l2))
    print("No se repitio ningun numero al momento de crear la lista aleatoria")
else:
    print("No es igual porque al momento de crear la lista de manera random se repitieron valores, al momento de convertirlo a un conjunto los valores se vuelven unicos")

No es igual porque al momento de crear la lista de manera random se repitieron valores, al momento de convertirlo a un conjunto los valores se vuelven unicos

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{0, 1, 3, 4, 5, 7, 8, 9, 13, 15, 16, 19, 23, 26, 35, 37, 40, 41, 47, 51, 55, 56, 58, 59, 60, 62, 63, 64, 66, 77, 81, 84, 85, 91, 94, 95, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{97, 68, 38, 44, 14, 92, 20, 21, 86, 24, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
# Your code here
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
# Your code here
len(set1) + len(set2) - len(set5) == len(set3) + len(set4) + len(set5)

False

#### Create an empty set called `set6`.

In [34]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
set1.intersection(set6)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 15,
 16,
 18,
 19,
 23,
 25,
 26,
 27,
 29,
 31,
 34,
 35,
 37,
 39,
 40,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 69,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 84,
 85,
 87,
 88,
 89,
 90,
 91,
 93,
 94,
 95,
 96,
 98,
 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here

print( set1.issubset(set2))

print( set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
print(set5.union(set3,set4))
print(set2.union(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [41]:
# Your code here
print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here