# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'
html = requests.get(url).content

In [8]:
# aplicando soup
soup = BeautifulSoup(html, "lxml")
#comentado para no hacer el archivo mas pesado
#print(soup)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [9]:
name = [element.text for element in soup.find_all('h1', {'class':'h3 lh-condensed'})]
name = [re.sub("\\n","",i) for i in name]
name = [re.sub("^ *","",i) for i in name]
nick_name = [element.text for element in soup.find_all('p', {'class':'f4 text-normal mb-1'})]
nick_name = [re.sub("\\n","",i) for i in nick_name]
nick_name = [re.sub("^ *","(",i).replace(" ",")") for i in nick_name]
for i in range(len(name)):
    name[i] = name[i]+nick_name[i]
#comentado para no hacer el archivo mas pesado
#print(name)

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
html = requests.get(url).content

In [11]:
soup = BeautifulSoup(html, "lxml")
repo_name = [element.text for element in soup.find_all('h1', {'class':'h3 lh-condensed'})]
repo_name = [re.sub("\\n","",i) for i in repo_name]
repo_name = [re.sub("^ *","",i).replace(" ","") for i in repo_name]
#comentado para no hacer el archivo mas pesado
#print(repo_name)

#### Display all the image links from Walt Disney wikipedia page

In [12]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
html = requests.get(url).content

In [13]:
soup = BeautifulSoup(html, "lxml")
img = ["https:"+img.attrs['src'] for img in soup.find_all('img')]
#comentado para no hacer el archivo mas pesado
#print(img)

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [14]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'
html = requests.get(url).content

In [15]:
soup = BeautifulSoup(html, "lxml")
link = [link.attrs['href'] if 'https://' in link.attrs['href'] else url+link.attrs['href'] for link in soup.find_all('a', href=True)]
#comentado para no hacer el archivo mas pesado
#print(link)

#### Number of Titles that have changed in the United States Code since its last release point

In [47]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
html = requests.get(url).content

In [49]:
soup = BeautifulSoup(html, "lxml")
titles = [ titles.text for titles in soup.find_all('div', {'class':'usctitlechanged'})]
titles = [re.sub("\\n *","",i) for i in titles]
titles = [re.sub(" *$","",i) for i in titles]
titles = [re.sub("٭","",i) for i in titles]
titles

['Title 6 - Domestic Security',
 'Title 10 - Armed Forces ',
 'Title 15 - Commerce and Trade',
 'Title 20 - Education',
 'Title 28 - Judiciary and Judicial Procedure ',
 'Title 31 - Money and Finance ',
 'Title 33 - Navigation and Navigable Waters',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ',
 'Title 37 - Pay and Allowances of the Uniformed Services ',
 "Title 38 - Veterans' Benefits ",
 'Title 40 - Public Buildings, Property, and Works ',
 'Title 46 - Shipping ']

#### A Python list with the top ten FBI's Most Wanted names

In [18]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
html = requests.get(url).content

In [19]:
soup = BeautifulSoup(html, "lxml")
fbi = [ fbi.text for fbi in soup.find_all('h3', {'class':'title'})]
fbi = [re.sub("\\n","",i) for i in fbi]
fbi

['ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [20]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
html = requests.get(url).content

In [21]:
soup = BeautifulSoup(html, "lxml")
#obtener los datos de la tabla de terremotos
earth = soup.find_all('tr', {'class':'ligne1 normal'})
earth = [i.text.strip().replace('ago','\xa0').split('\xa0') for i in earth]
# eliminar los null de la lista
earth = [list(filter(None, i)) for i in earth]
#earth = [j.split("ago") for i in earth for j in i]
#transformarlo en un dataframe
earth_df = pd.DataFrame(earth)
# borrar las columnas que no son necesarias y dejar solo date, time, latitude, longitude and region
# limpiar columnas
earth_df[0]= earth_df[0].str.replace('earthquake', '' )
earth_df[7]= earth_df[7].str.replace('\d|-|:', '' )
earth_df[1]= earth_df[1].str.replace('\..*', '' )
# juntar columnas
earth_df['latitude']= earth_df[2] +' '+ earth_df[3]
earth_df['longitude']= earth_df[4] +' '+ earth_df[5]
earth_df = earth_df.rename(columns={0: 'date', 1: 'time', 7:'region_name' })
#eliminar columnas que no se utilizaran
del earth_df[2]
del earth_df[3]
del earth_df[4]
del earth_df[5]
del earth_df[6]
#dataframe limpio
earth_df.head()

         date      time                    region_name latitude longitude
0  2021-01-31  16:53:45           SULAWESI, INDONESIA    0.20 S  123.02 E
1  2021-01-31  16:42:44               JAVA, INDONESIA    8.88 S  107.14 E
2  2021-01-31  16:27:08  CANARY ISLANDS, SPAIN REGION   28.54 N   17.90 W
3  2021-01-31  16:25:18  CANARY ISLANDS, SPAIN REGION   28.54 N   17.86 W
4  2021-01-31  16:18:16                         SPAIN   37.22 N    3.68 W

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [22]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [23]:
# la pagina ya no existe

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [24]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [25]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [26]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
html = requests.get(url).content

In [28]:
soup = BeautifulSoup(html, "lxml")
wiki = soup.find_all('strong')
wiki = [i.text for i in wiki ]
# eliminar el primer y ultimo resultado porque no son idiomas
wiki= wiki[1:-1]
wiki

['English',
 '日本語',
 'Deutsch',
 'Español',
 'Русский',
 'Français',
 'Italiano',
 '中文',
 'Polski',
 'Português']

#### A list with the different kind of datasets available in data.gov.uk

In [29]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
html = requests.get(url).content

In [30]:
soup = BeautifulSoup(html, "lxml")
data = soup.find_all('h3', {'class':'govuk-heading-s dgu-topics__heading'})
data = [i.text  for i in data ]
data

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [31]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [32]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [33]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [34]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [35]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'
html = requests.get(url).content

In [37]:
soup = BeautifulSoup(html, "lxml")
#obtener los directores
data = soup.find_all('a', title=True)
direc = [i.attrs['title'] for i in data]
direc = list(map(lambda x: re.sub(r',.*$','',x), direc))
# solo nos interesan los primero 250 resultados
direc = direc[:250]
# los demas datos
data = soup.find_all('tr')
data = [i.text for i in data]
#limpieza d elos datos antes de generar el dataframe
data = [re.sub("\\n *","",i) for i in data]
data = [re.sub("\xa0.*","",i) for i in data]
data = [re.sub("\(|\)","|",i) for i in data]
data = [re.sub("^\d+\.","",i) for i in data]
data = [ i.split("|") for i in data ]
#eliminamos el encabezado
data = data [1:]
#creamos dos dataframe
data1 = pd.DataFrame(data, columns=['movie_name','Initial_release','stars'])
data2 = pd.DataFrame(direc, columns=['director'])
#los combinamos para obtener todos los datos
data_completa = data1.join(data2)
data_completa.head()

,movie_name,Initial_release,stars,director
0,The Shawshank Redemption,1994,9.2,Frank Darabont (dir.)
1,The Godfather,1972,9.1,Francis Ford Coppola (dir.)
2,El padrino II,1974,9.0,Francis Ford Coppola (dir.)
3,Batman 2 - El caballero de la noche,2008,9.0,Christopher Nolan (dir.)
4,Doce hombres en pugna,1957,8.9,Sidney Lumet (dir.)

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [38]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'
html = requests.get(url).content

In [39]:
soup = BeautifulSoup(html, "lxml")
#obtener los enlaces de las peliculas
sumary = soup.find_all('a', title=True)
sumary = [i.attrs['href'] for i in sumary]
#solo usaremos los 10 primeros
sumary = sumary[:10]

In [40]:
#obtenemos los resumenes haciendo request en cada enlace
sumary_list = []
for i in range(0,10):
    html2 = requests.get(url.replace('/chart/top','')+sumary[i]).content 
    soup = BeautifulSoup(html2, "lxml")
    data = soup.find('div', {'class':'summary_text'})
    sumary_list.append(data.text)

In [41]:
#limpiamos los resumenes
sumary_list = list(map(lambda x: re.sub('\n *','',x), sumary_list))
sumary_brief = pd.DataFrame(sumary_list, columns=['sumary_brief'])
#top 10 de peliculas
data10 = data_completa[['movie_name','Initial_release']].head(10).join(sumary_brief)
data10.head(10)

,movie_name,Initial_release,sumary_brief
0,The Shawshank Redemption,1994,Two imprisoned men bond over a number of years...
1,The Godfather,1972,An organized crime dynasty's aging patriarch t...
2,El padrino II,1974,The early life and career of Vito Corleone in ...
3,Batman 2 - El caballero de la noche,2008,When the menace known as the Joker wreaks havo...
4,Doce hombres en pugna,1957,A jury holdout attempts to prevent a miscarria...
5,Schindler's List,1993,"In German-occupied Poland during World War II,..."
6,The Lord of the Rings: The Return of the King,2003,Gandalf and Aragorn lead the World of Men agai...
7,Pulp Fiction,1994,"The lives of two mob hitmen, a boxer, a gangst..."
8,"El bueno, el malo y el feo",1966,A bounty hunting scam joins two men in an unea...
9,The Lord of the Rings: The Fellowship of the Ring,2001,A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [42]:
#https://openweathermap.org/current
import json
from pandas import json_normalize
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'
html = requests.get(url).content

Enter the city:Caracas

In [43]:
response = requests.get(url)
r = response.json()
r_normalize = json_normalize(r)
r_normalize.columns
city_weather = r_normalize[['name','main.temp','wind.speed','weather']]
city_weather

,name,main.temp,wind.speed,weather
0,Caracas,25.39,2.02,"[{'id': 803, 'main': 'Clouds', 'description': ..."

#### Book name,price and stock availability as a pandas dataframe.

In [44]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'
page = 'catalogue/page-'

In [45]:
book_list = []
for c in range(0,10):
    #recorremos varias paginas para obtener un dataset mas grande
    html = requests.get(url+page+str(c)+".html").content
    soup = BeautifulSoup(html, "lxml")
    #obtener los enlaces de las peliculas
    book = soup.find_all('article')
    #colo un separador para poder realizar un split y elimino los patrones de espacio
    book_list += [i.text.replace('\n','').replace('Add to basket','').replace('£','|£').replace('            ','|').replace('    ','') for i in book ]
#hacemos un split para obtener las columnas
book_list = [i.split('|') for i in book_list]

In [46]:
dfbook = pd.DataFrame(book_list, columns=['book_name','price','stock_availability'])
dfbook.head(20)

                                book_name   price stock_availability
0                      A Light in the ...  £51.77           In stock
1                      Tipping the Velvet  £53.74           In stock
2                              Soumission  £50.10           In stock
3                           Sharp Objects  £47.82           In stock
4            Sapiens: A Brief History ...  £54.23           In stock
5                         The Requiem Red  £22.65           In stock
6            The Dirty Little Secrets ...  £33.34           In stock
7                 The Coming Woman: A ...  £17.93           In stock
8                     The Boys in the ...  £22.60           In stock
9                         The Black Maria  £52.15           In stock
10  Starving Hearts (Triangular Trade ...  £13.99           In stock
11                  Shakespeare's Sonnets  £20.66           In stock
12                            Set Me Free  £17.46           In stock
13    Scott Pilgrim's Precious Little ...  £52.29           In stock
14                      Rip it Up and ...  £35.02           In stock
15                  Our Band Could Be ...  £57.25           In stock
16                                   Olio  £23.88           In stock
17        Mesaerion: The Best Science ...  £37.59           In stock
18           Libertarianism for Beginners  £51.33           In stock
19                It's Only the Himalayas  £45.17           In stock