# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [63]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [64]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

In [65]:
customers_amount = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()
#customers_amount

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

In [66]:
customers95 = customers_amount['amount_spent'].quantile(0.95)
customers75 = customers_amount['amount_spent'].quantile(0.75)

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [67]:
customers_amount['label'] = [ 'VIP' if i >= customers95 else
                            ('Preferred' if i >= customers75 and i < customers95
                               else 'Regular') for i in customers_amount['amount_spent'] ]

In [68]:
customers_amount.head()

   CustomerID  amount_spent      label
0       12346      77183.60        VIP
1       12347       4310.00  Preferred
2       12348       1797.24  Preferred
3       12349       1757.55  Preferred
4       12350        334.40    Regular

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

## Q2: How to identify which country has the most VIP Customers?

In [69]:
#### Sub Problem 1: Tener un solo dataframe con toda la informacion

In [70]:
customer_country = pd.merge( orders, customers_amount, on='CustomerID', how='left')
customer_country.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent_x,amount_spent_y,label
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred

#### Sub Problem 2: obtener todos los clientes VIP

In [71]:
customer_vip = customer_country.loc[customer_country['label'] == 'VIP']

#### Sub Problem 3: obtener el pais con mas cantidad de customer vip

In [72]:
country_count = customer_vip[['Country', 'CustomerID']].groupby('Country').count()
country_count.sort_values('CustomerID', ascending=False).head()

                CustomerID
Country
United Kingdom       84185
EIRE                  7077
France                3290
Germany               3127
Netherlands           2080

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

#### Sub Problem 1: obtener todos los clientes VIP y Preferred

In [73]:
customer_vip_pref = customer_country[customer_country['label'].isin(['VIP','Preferred'])]

#### Sub Problem 2: obtener los paises con mayor cantidad conjunta de clientes VIP+Preferred

In [74]:
country_count = customer_vip_pref[['Country', 'CustomerID']].groupby('Country').count()
country_count.sort_values('CustomerID', ascending=False).head()

                CustomerID
Country
United Kingdom      221635
Germany               7349
EIRE                  7238
France                6301
Netherlands           2080