# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [81]:
# import required libraries
import numpy as np
import pandas as pd

import os

In [82]:
path = os.getcwd()
path

'C:\\Users\\cyn_n\\datamex_012021\\module-2\\lab-df-calculation-and-transformation\\your-code'

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [83]:
# enter your code here
#orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders = pd.read_csv("C:\\Users\\cyn_n\\datamex_012021\\module-2\\lab-subsetting-and-descriptive-stats\\your-code\\Orders.zip")

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [84]:
m = orders.groupby(['CustomerID','Country'])[ 'amount_spent'].agg(['sum'])
m
# your code here

                                sum
CustomerID Country
12346      United Kingdom  77183.60
12347      Iceland          4310.00
12348      Finland          1797.24
12349      Italy            1757.55
12350      Norway            334.40
...                             ...
18280      United Kingdom    180.60
18281      United Kingdom     80.82
18282      United Kingdom    178.05
18283      United Kingdom   2094.88
18287      United Kingdom   1837.28

[4347 rows x 1 columns]

In [85]:
#se calcula el cuantil 
l = m.quantile(0.75)
#se calucla aquellos customer que tienen menor valor del amount_spend que el cuantil requerido

w = m[m.iloc[:,0]< l[0]]
#pokemon[pokemon['Combo Type'].apply(lambda x: x in w)].groupby('Combo Type').mean()

In [86]:
m['Type_Customer'] = np.where(m.iloc[:,0]< l[0],'Prefered','VIP' )
m

                                sum Type_Customer
CustomerID Country
12346      United Kingdom  77183.60           VIP
12347      Iceland          4310.00           VIP
12348      Finland          1797.24           VIP
12349      Italy            1757.55           VIP
12350      Norway            334.40      Prefered
...                             ...           ...
18280      United Kingdom    180.60      Prefered
18281      United Kingdom     80.82      Prefered
18282      United Kingdom    178.05      Prefered
18283      United Kingdom   2094.88           VIP
18287      United Kingdom   1837.28           VIP

[4347 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [87]:
# your code here
m.groupby(['Country'])['Type_Customer'].value_counts() 
m1 = m[m['Type_Customer'] == 'VIP']
m1.groupby(['Country'])['Type_Customer'].value_counts()

Country          Type_Customer
Australia        VIP                4
Austria          VIP                1
Belgium          VIP               11
Canada           VIP                1
Channel Islands  VIP                4
Cyprus           VIP                3
Denmark          VIP                3
EIRE             VIP                3
Finland          VIP                5
France           VIP               29
Germany          VIP               39
Greece           VIP                1
Iceland          VIP                1
Israel           VIP                2
Italy            VIP                5
Japan            VIP                4
Lebanon          VIP                1
Malta            VIP                1
Netherlands      VIP                1
Norway           VIP                7
Poland           VIP                1
Portugal         VIP                7
Singapore        VIP                1
Spain            VIP                7
Sweden           VIP                2
Switzerland      VIP                9
United Kingdom   VIP              934
Name: Type_Customer, dtype: int64

In [88]:
# en este caso no se hace distinciòn en si es VIP o prefered solo importa la suma de ambos por esto los dos se podran com Prefered
m['Type_Customer'] = np.where(m.iloc[:,0]< l[0],'Prefered' ,'Prefered')
m

                                sum Type_Customer
CustomerID Country
12346      United Kingdom  77183.60      Prefered
12347      Iceland          4310.00      Prefered
12348      Finland          1797.24      Prefered
12349      Italy            1757.55      Prefered
12350      Norway            334.40      Prefered
...                             ...           ...
18280      United Kingdom    180.60      Prefered
18281      United Kingdom     80.82      Prefered
18282      United Kingdom    178.05      Prefered
18283      United Kingdom   2094.88      Prefered
18287      United Kingdom   1837.28      Prefered

[4347 rows x 2 columns]

In [89]:
m1 = m[m['Type_Customer'] == 'Prefered']
m1.groupby(['Country'])['Type_Customer'].value_counts()

Country               Type_Customer
Australia             Prefered            9
Austria               Prefered           11
Bahrain               Prefered            2
Belgium               Prefered           25
Brazil                Prefered            1
Canada                Prefered            4
Channel Islands       Prefered            9
Cyprus                Prefered            8
Czech Republic        Prefered            1
Denmark               Prefered            9
EIRE                  Prefered            3
European Community    Prefered            1
Finland               Prefered           12
France                Prefered           87
Germany               Prefered           94
Greece                Prefered            4
Iceland               Prefered            1
Israel                Prefered            3
Italy                 Prefered           14
Japan                 Prefered            8
Lebanon               Prefered            1
Lithuania             Prefered            1
Malta                 Prefered            2
Netherlands           Prefered            9
Norway                Prefered           10
Poland                Prefered            6
Portugal              Prefered           19
RSA                   Prefered            1
Saudi Arabia          Prefered            1
Singapore             Prefered            1
Spain                 Prefered           30
Sweden                Prefered            8
Switzerland           Prefered           21
USA                   Prefered            4
United Arab Emirates  Prefered            2
United Kingdom        Prefered         3921
Unspecified           Prefered            4
Name: Type_Customer, dtype: int64